body{
    background-color: #b3b3cc;
    font-family: 'Cormorant Unicase', serif;
    border: 1px solid #3d3d5c;
    margin: 0;
    text-align: center;
}
header{
    background-color: #3d3d5c;
    margin: 0;
    padding-top: 0.5%;
    color: #3d3d5c;
    font-weight: 900;
    font-size: 1.7em;
    font-family: 'Indie Flower', cursive;
}
h1{
    color: #a862ea;
    text-align: center;
    padding-bottom: 1%;
}
main{
    display: flex;
}
#gameboard {
    width: 60%;
    display: flex;
    justify-content: center;
}
#col-1, #col-2{
    border-right:3px solid #9c4be7;
}
.tic{
    height: 130px;
    width: 130px;
    text-align: center;
}
.tic:nth-child(1), .tic:nth-child(2){
    border-bottom:3px solid #9c4be7;
}
span{
    font-size: 7em;
    font-family: 'Indie Flower', cursive;
}
.result{
    text-align: left;
}
#winner, #turn, #score{
    font-size: inherit;
    color: #9c4be7;
}
p{
    font-size: 2em;
}
#xChoice, #oChoice{
    width: 50px;
    height: 40px;
    font-size: 24px;
}
footer{
    background-color: #3d3d5c;
    color: #a862ea;
    padding: 1%;
    text-align: center;
}

@media (max-width: 950px){
    main{
        display: block;
    }
    #gameboard, .result{
        width: 100%;
        text-align: center;
    }
    header{
        font-size: 20px;
    }
}
@media (max-width: 500px){
    body, header, section, p{
        font-size: 14px;
    }
    .tic{
        height: 60px;
        width: 70px;
    }
    span{
        font-size: 30px;
    }
}