body{
    background-color: #b3b3cc;
    font-family: 'Cormorant Unicase', serif;
    border: 1px solid #3d3d5c;
    margin: 0;
}
header{
    background-color: #3d3d5c;
    margin: 0;
    padding-top: 0.5%;
    color: #3d3d5c;
    font-weight: 900;
    font-size: 1.5em;
}
h1{
    color: #a862ea;
    text-align: center;
    padding-bottom: 1%;
}
#gameboard {
    width: 100%;
    display: flex;
    justify-content: center;
}
#col-1, #col-2{
    border-right:3px solid #9c4be7;
}
.tic{
    height: 130px;
    width: 130px;
    text-align: center;
}
.tic:nth-child(1), .tic:nth-child(2){
    border-bottom:3px solid #9c4be7;
}
span{
    font-size: 7em;
}
#winner, #turn{
    font-size: inherit;
    color: #9c4be7;
}
p{
    padding-left: 2%;
    font-size: 2em;
}
button{
    margin-left: 2%;
}
footer{
    background-color: #3d3d5c;
    color: #a862ea;
    padding: 1%;
    text-align: center;
}